html, body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: red;
  color: #eee;
  width: 100%;
  height: 100%;
  margin: 0;
}

.age-gate {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url(images/gifs/MOV00002.gif);
  background-position: center;
  align-items: center;
  justify-content: center;
  z-index: 3000;
}

.age-gate button{
    margin: 1rem 0 0 0;

}

.age-gate img{
  top: 1rem;
  width: 20%;
  border: 2px black dotted;
}

.gate-box {
  background: red;
  border: 5px solid blue;
  padding: 2rem;
  max-width: 500px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.gate-box h1 {
  color: red;
  background-color: yellow;
  font-weight: bold;
  padding: 0.5rem;
}
.gate-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.gate-actions button:hover{
    text-decoration: underline;
}

button, a {
  background: white;
  color: blue;
  padding: 0.5rem 1rem;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.topbar {
  display: inline-flex;
  flex-direction: row;
  width: max-content;
  position: fixed;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: yellow;
  width: 100%;
}

.topbar p{
  margin: 0;
  color: black;
  text-decoration: underline;
  font-size: 25px;
  font-weight: bold;
  padding-right: 2.5rem;
}

#searchbutton{
 display: flex;
 flex-grow: 1;
 gap: 0.5rem;
}

.topbar #search{
  color: red;
  background: black;
  object-fit: scale-down;
  border: none;
  flex: 1;
}

input::placeholder{
 opacity: 1;
 color: red;
}

.topbar input:focus{
  outline: none;
}

#bio-container{
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100vw;
  padding: 0;
  margin: 0;

}

#bio a{
  padding: 0.1rem;
}

#bio{
  z-index: 2010;
  position: fixed;
  text-align: left;
  gap: 1rem;
  width: 40vw;
  padding: 1rem 2rem;
  color: red;
  font-weight: bold;
  background-image: url(images/achtergrond.jpg);
  background-repeat:round;
    border: 5px solid greenyellow;
}

#bio video{
  width: 30vw;
  float: right;
}

#bio p{
  display: inline-block;
  background-color: greenyellow;
}

#filter{
  background-color: greenyellow;
  color: red;
  font-weight:  bold;
  padding: 0 1.5em;
  margin-right: 1rem;
}

#filter:hover{
  text-decoration: underline;
}

.contact{
  font-weight: bold;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  gap: 0.5rem;
  position: fixed;
  top: 3em;
  width: 96%;
}

.contact div{
  max-width: fit-content;
}

.contact p, a{
  padding: 0;
  margin: 0;
  background-color: greenyellow;
  color: red;
}

.contact a:hover{
  text-decoration: underline;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 0.5rem;
  padding: 0.5rem;
  padding-top: 5.15rem;
}
.img-wrapper {
  text-align: center;
  width: 100%;
  height: 17.5em;
}
.img-wrapper img {
  width: 100%;
  height: 100%;
  display: block;
}

.img-wrapper p {
  display: none;
}
#lightbox{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  cursor: zoom-out;
}

#lightbox img{
  max-width: 70%;
  max-height: 80%;
  border: 1rem solid blue;
}

#lightbox p{
  color: blue;
  background-color: white;
  text-decoration: underline;
  font-weight: bold;
}

#lightbox a{
  font-weight: bold;
}

#lightbox a:hover{
  text-decoration: underline;
}

#popup-container {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  pointer-events: none;
  z-index: 2001;

}
.popup {
  position: absolute;
  padding: 0.5rem;
  max-width: 30rem;
  min-width: 20rem;
  pointer-events: auto;
  cursor: pointer;
}

.popup img {
  width: 100%;
  display: block;
  border: 0.5rem solid greenyellow;
}

.popup a{
  color: greenyellow;
  font-weight: bold;
  width: auto;
  background: none;
  text-decoration: underline;
  margin-top: 0.3rem;
}

#worklist{
  position: fixed;
  right: 0.5rem;
  top: 3.08em;
  font-weight: bold;
  display: none;
}

#worklist a:hover{
  text-decoration: underline;
}

.show {
  display: block !important;
}

.show2 {
  display: flex !important;
}

#cv{
  color: greenyellow;
}

#cv li{ 
  color: blue;
}


@media (max-width: 700px) {
  .topbar {
    flex-direction: column;
  }

  .topbar p{
    width: 100%;
    text-align: center;
  }
  
  #searchbutton{
    width: 100%;
    height: 2rem;
  }

  .contact{
    margin-top: 2.5rem;
  }

  .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 0.5rem;
  padding-top: 8rem;
  }

  #worklist{
  top: 5.55em;
  left: 0.5em;
  }
  .gate-box {
  margin: 2em;
}

#bio{
  width: 70vw;
  font-size: 13px;
}
  #bio video{
  width: 50vw;
}


}

@media (max-width: 444px) {
  .grid {
  padding-top: 9.3rem;
  }
}